@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Gotu&display=swap);

@font-face {
  font-family: 'KaushanScript';
  src: url(../fonts/KaushanScript-Regular.otf);
  font-weight: normal;
  font-style: normal;

}

@import url(https://fontawesome.com/icons/user?style=solid);
