@charset "utf-8";
 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Colour Pallet

    Logo: #76acaf;
    Nav bar: #72a9ae;
    Titles: #a3c8c3;
    Footer: #454545;
*/


/* Desktop View */

@media only screen and (min-width: 768px) {

}


/* background image */

#wrapper {
    max-width: 960px;
    margin: auto;
    background-image: url(../img/small-crackle-bright.png);
    background-color: rgb(211, 211, 211);
    font-family: Gotu;
}


/* Logo */ 

header {
    background-color: white;
}

header h1 {
    font-size: 30px;
    color: #76acaf; 
    background-color: white;
    margin: 30px;
    font-family: "KaushanScript";
    margin-left: 0;
    padding-left: 0;
}


/* Nav buttons */

header nav {
    background-color: #72a9ae;
    list-style-type: none;
    margin-top: 2%;
    padding: 0;
    color: black;
}

header nav ul {
    margin-bottom: 0;
}

header nav ul li {
    display: inline-block;
    color: black;
    font-size: 15px;
    margin:0 2% 0 2%;
    padding: 10px 25px 10px 25px;
    width: 10px; 
}

header nav ul li a {
    text-decoration: none;
    margin: 1% 2% 1% 2%;
    color: black;
}

/* The about section */

main div h2 {
    color: #a3c8c3;
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 7px 
}

h2 { transition: width 2s, height 2s, transform 5s;
}
h2:hover {

 transform: rotate(15deg);
}

#about {
    margin: 0 5% 5% 5%;

}

#s1 {
    text-align: left;
    width: 60%;
    height: 250px;
    float: left;
    padding: 1%;
    font-size: 15px;
}

#pic { 
   margin-left: 60%;
   height: 20%;
   width: 40%;
}

.bridge {
    height: 20%;
    width: 95%;
    margin-top: 15%;
}

/* The schedule section */

#schedule {
    margin: 0 5% 0 5%;
}

#schedule h2 {
    margin-left: 0;
    padding-left: 0;
}

table {
    width: 100%;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.8%;
    text-align: center;
}

#schedule tr:nth-child(odd){background-color: #f2f2f2;}

#schedule tr:nth-child(even){background-color: white;}

#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
}

/* The profile section */

#submit {
    margin: 10px;
}


#s3 {
    margin: 0 5% 0 5%;
}

#profile {
    margin: 0;
    height: 400px;
    width: 50%;
    float: left;
}


/* Porfile info*/ 
#info {
    height: 400px;
    margin-left: 50%;
    position: relative;
    text-align: center;
    margin: 12px;
}

#info h3 {
    font-size: 20px;
    color: #a3c8c3;
}


/* The Footer  */

footer {
    background-size: cover;
    background-color: #454545;
    color: white;
    width: 100%;
}

footer div {
    margin-left: 50%;
    display: inline;
    list-style-type: none;
}

h4 {
    font-size: 18px; 
    margin: 5px;
}

footer div section nav ul li a {
    color: white;
    text-decoration: none;
    margin: 1% 2% 1% 2%;
}


#links h4 {
     margin-left: 6px;
     float: left;
     position: relative;
}

#links li  {
    list-style-type: none;
    color: white;
}

#links li a {
    text-decoration: none;
    margin: 1% 2% 1% 2%;
    color: white;
}

#social-media {
    float: left;
    position: relative;
}


#social-media li{
    float: left;
}

#adderss {
     margin-right: 2px;
     text-align: center;
     position: relative;
}
